@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

/* .mask{
  -webkit-mask-image: linear-gradient(transparent, black 3%, black 97%, transparent);
  mask-image: linear-gradient(transparent, black 10%, black 90%, transparent);
  /* -webkit-animation: rightToLeft 5s forwards;
  animation: rightToLeft 1s forwards;
} */

.goon{
  /* background-image: linear-gradient(red 1%, yellow 2%, green 95%, red); */
  background-color: white;
  opacity: 0;
}
/* .maskOff {
  -webkit-mask-image: linear-gradient(90deg, #0000, #fff, #0000);
          mask-image: linear-gradient(90deg, #0000, #fff, #0000);
  -webkit-mask-size: 300% 100%;
          mask-size: 300% 100%;
  animation: clip-fade 3s infinite alternate;
}

img {
  max-width: 100%;
}

@keyframes clip-fade {
  100% {
    -webkit-mask-position: right;
            mask-position: right;
  }
} */